# These are created for testing, not gonna be used in production.
# Exposing these creds, for making it easier for new contributors.
# change filename to .env

MONGODB_URI=mongodb://mongodb:27017/mydb
PORT=3000
JWT_SECRET=secret
CLOUD_NAME=dcmj69dv1
CLOUDINARY_KEY=416882452252463
CLOUDINARY_SECRET=sUtp7ttXhAoQiboELd-iVWGgYVQ